<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Creating new Chats</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>

    <h2>hyy this is tab to creating new tab</h2>
  <div class="forms">
    <form class="forms" method="post" action="/chats">  
        <input type="text" placeholder="who are you" name="from">
        <br>
        <textarea name="msg" id="msg" cols="30" rows="10">Write your message here..</textarea>
        <br>
        <input type="text" placeholder="add reciver" name="to"> 
        <br>
        <button>Create Chat</button>
        </form>
        
  </div>
    
</body>
</html>