*{ 
    padding: 0; 
    margin: 0;
} 
body{ 
    background-image: url("photo.jpg"); 
    background-size: cover;  
    height: inherit;

} 
.main{  

    height: 100vh; 
    width: 250px; 
    background-color: rgb(55, 53, 53);  
    margin-left: -550px;
} 
a{ 
    text-decoration: none; 
    color: white;
}  
.inputboxes{ 
    display: flex; 
    justify-content: space-between; 
    padding: 20px;

} 
.items{ 
    font-size: 23px; 
    line-height: 40px;  
    margin-left: 25px; 
    text-decoration: none; 
}
.items ul li a:hover{  
    text-decoration: none; 
    box-shadow: 0 0 4px;
} 
.items ul li { 
    height: 45px; 
    width: 100vh; 
} 
#checkbox2:checked ~ .main{ 
    margin-left:0px;  
    background-color: red;

}  
  


