<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit User Details</title>
</head>
<body>
    <h2>You can edit of this :<%=user.email%> user!!</h2>
    <form action="">
        <button>Click Here To Submit</button>
    </form>
</body>
</html>