body{ 
    text-align: center;
}  

h2{ 
    background-color: rgb(218, 218, 254);
}
.bttn,#btn2{ 
    margin-left: 10px;
} 


img{ 
    margin-top: 20px;
    height: 400px; 
    width: 400px;
background-size: cover;
}
