<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Show  Posts</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body> 
    <h1>Posts here</h1>
    <div> 
        <p>Id:<%=data.id%></p>
        <hr>
        <p>Username:<%=data.username%></p>
         <p><%=data.content%></p>
    </div>
</body>
</html>