<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Show</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body> 
    <h1>Individual Post</h1>
    <hr>
    <p><b>Post id:<%=data.id%></b></p>
    <div> 
        <p><b>@<%=data.username%></b></p> 
        <p><b><%=data.content%></b></p>
    </div>
</body>
</html>