*{ 
    margin: 0; 
    padding: 0; 
    box-sizing: border-box;
}
body{ 
    background-color: aquamarine;
}
h2{ 
    text-align: center;
}
h3{ 
    text-align: center;
} 
.box{ 
    height:120px; 
    width: 120px; 
    border: 2px solid black; 
    border-radius: 50%;
    text-align: center;
} 


.partOne{ 
    display: flex;
    justify-content: center;
    margin: 20px;
    
   
} 
.partTwo{ 
    justify-content: center;
    display: flex;
    
}

.box{ 
    margin: 10px;
}
.red{ 
    background-color: red;
} 
.blue{ 
    background-color: blue;
} 
.green{ 
    background-color: green;
} 
.yellow{ 
    background-color: yellow;
} 


.flash{
    background-color: white;
}
.userFlash{ 
    background-color: rgb(148, 233, 242);
}