<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Page</title>
</head>
<body> 
    <h1>Hy guess</h1> 
    <form method="post" action="/show/<%=raw[0].id%>?_method=PATCH">
      <p>UserID:<%=raw[0].id%></p>
      <textarea name="username" id="" cols="30" rows="10"><%=raw[0].username%></textarea>
      <br>
      <input type="text" placeholder="Enter Your password" name="password"> 
      <button>Submit</button>
    </form> 
</body>
</html>