/* 
 * Always set the map height explicitly to define the size of the div element
 * that contains the map. 
 */
body{ 
    height: 100%;
  margin: 0;
  padding: 0;
  
}



 #map {
    height: 50%;
    width: 50%;
    margin: auto;
  }
  
  /* 
   * Optional: Makes the sample page fill the window. 
   */
  